<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="c1" class="com.zy.spring.ioc.entity.Computer">
        <constructor-arg name="brand" value="联想"/>
        <constructor-arg name="type" value="台式机"/>
        <constructor-arg name="sn" value="100111"/>
        <constructor-arg name="price" value="3500"/>
    </bean>
<!--没有name也没有id标识的匿名bean，默认为类名的全称-->
    <bean class="com.zy.spring.ioc.entity.Computer">
        <constructor-arg name="brand" value="联想1"/>
        <constructor-arg name="type" value="台式机"/>
        <constructor-arg name="sn" value="100111"/>
        <constructor-arg name="price" value="3500"/>
    </bean>

    <bean class="com.zy.spring.ioc.entity.Computer">
        <constructor-arg name="brand" value="联想2"/>
        <constructor-arg name="type" value="台式机"/>
        <constructor-arg name="sn" value="100111"/>
        <constructor-arg name="price" value="3500"/>
    </bean>
<bean id="company" class="com.zy.spring.ioc.entity.Company">
    <property name="rooms">
        <list>
            <value>1001-总裁办公室</value>
            <value>1003-总经理办公室</value>
            <value>1006-研发部办公室</value>
            <value>1006-研发部办公室</value>
            <value>1006-研发部办公室</value>
            <value>1006-研发部办公室</value>
        </list>
    </property>
    <property name="computers">
        <map>
            <entry key="dev-1001" value-ref="c1"/>
            <entry key="dev-1002">
                <bean class="com.zy.spring.ioc.entity.Computer">
                    <constructor-arg name="brand" value="联想"/>
                    <constructor-arg name="type" value="台式机"/>
                    <constructor-arg name="sn" value="100111"/>
                    <constructor-arg name="price" value="3500"/>
                </bean>
            </entry>
        </map>
    </property>
    <property name="info">
        <props>
            <prop key="phone">010-xxxxxxx</prop>
            <prop key="address">北京市朝阳区xxx大夏</prop>
            <prop key="website">http://www.xxx.com</prop>
        </props>
    </property>
</bean>

</beans>